.mainContent {
    margin-top: 25vh;
    display: flex;
    white-space: nowrap;
    font-family: "Inter Tight", sans-serif;
    margin-left: 20vw;
    display: block;
}

.userList {
    margin-top: 10vh;
    margin-left: 20vw;
}