.topbar {
    display: block;
}

.signupview {
    z-index: 100;
    font-family: "Inter Tight", sans-serif;
    margin-top: 95px;
    font-weight: 400;
    background-color: #fefefe ;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.signupcontent {
    margin-top: 5%;
    margin-left: 38vw;
}

.signupcontent h2 {
    font-weight: 400;
    margin-bottom: 8%;
}

.signupcontent label {
    font-size: 11pt;
    display: block;
    margin-top: 4%;
    margin-bottom: 4%;
}

.signupcontent input {
    font-size: 13pt;
    width: 20vw;
    padding: 4%;
    border-radius: 12px;
    border: none;
    background-color: #f7f9fb;
}

.signupformbtn {
    margin-top: 7%;
    display: flex;
    width: 22vw;
    padding: 4%;
    text-align: center;
    justify-content: center;
    background-color: #708090;
    color: #fefefe;
    font-size: 12pt;
}

.signupformbtn:hover{
    background-color:#506070;
}

input:focus {
    outline: #708090;
}

.errorMessage {
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    color: #ff5252;
    margin: 1%;
}

.passwordContainer {
    width: 25vw;
}

.eye {
    cursor: pointer;
    margin-left: 1%;
    margin-bottom: -1%;
}