.TopBar {
    display: block;
    z-index: 10000000;
    position: fixed;
}

.ProfileInfo {
    z-index: 100;
    font-family: "Inter Tight", sans-serif;
    margin-top: 95px;
    font-weight: 400;
    width: 100vw;
    height: 30vh;
    display: flex;
}

.ProfileContent {
    margin-top: 5%;
    margin-left: 30vw;
    background-color: #F3F5F7;
    width: 50vw;
    height: 40vh;
}

h2 {
    font-weight: 400;
    margin-bottom: 8%;
    font-size: 20pt;
    margin-left: 5%;
}

h3 {
    font-weight: 400;
    margin-left: 8%;
    margin-top: 6%;
}

.ProfileSide {
    float: left;
    font-size: 15pt;
    margin-left: 5%;
}

.EditProfileBtn {
    background-color: #36454f;
    color: #f7f9fb;
    padding: 1.5%;
    font-size: 12pt;
    margin-top: 18%;
}

.EditProfileBtn:hover {
    background-color: #47565f;
    cursor: pointer;
}

.TransactionInfo {
    z-index: 100;
    font-family: "Inter Tight", sans-serif;
    margin-top: 95px;
    width: 100vw;
    height: 30vh;
    display: flex;
}

.TransactionContent {
    margin-left: 30vw;
    margin-top: 10%;
    width: 55vw;
    background-color: #F3F5F7;
    height: 320vh;
}

.ag-theme-alpine {
    margin-left: 8%;
}

.piePlot {
    margin-left: 16%;
}

h4 {
    font-family: "Inter Tight", sans-serif;
    margin-left: 16%;
    font-weight: 400;
    margin-top: 6%;
}

.graphSelector{
    width: 250px;
    margin-bottom: 30px;
    margin-left: 70%;
}

.TimeChart {
    margin-left: 10%;
}

.ClickedUserDetails {
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    gap: 2%;
}

.Checkboxes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
