.TopBar {
    display: block;
    z-index: 5;
    position: fixed;
}

.ProfileInfo {
    z-index: 100;
    font-family: "Inter Tight", sans-serif;
    margin-top: 95px;
    font-weight: 400;
    width: 100vw;
    height: 30vh;
    display: flex;
}

.ProfileContent {
    margin-top: 5%;
    margin-left: 30vw;
    background-color: #F3F5F7;
    width: 50vw;
    height: 40vh;
}

h2 {
    font-weight: 400;
    margin-bottom: 8%;
    font-size: 20pt;
    margin-left: 5%;
}

h3 {
    font-weight: 400;
    margin-left: 8%;
    margin-top: 6%;
}

.ProfileSide {
    float: left;
    font-size: 15pt;
    margin-left: 5%;
}

.EditProfileBtn {
    background-color: #36454f;
    color: #f7f9fb;
    padding: 1.5%;
    font-size: 12pt;
    margin-top: 18%;
}

.EditProfileBtn:hover {
    background-color: #47565f;
    cursor: pointer;
}

.TransactionInfo {
    z-index: 100;
    font-family: "Inter Tight", sans-serif;
    margin-top: 95px;
    width: 100vw;
    height: 30vh;
    display: flex;
}

.TransactionContent {
    margin-left: 30vw;
    margin-top: 10%;
    width: 55vw;
    background-color: #F3F5F7;
    height: 320vh;
}

.ag-theme-alpine {
    margin-left: 8%;
}

.piePlot {
    margin-left: 16%;
}

h4 {
    font-family: "Inter Tight", sans-serif;
    margin-left: 16%;
    font-weight: 400;
    margin-top: 6%;
}

.graphSelector{
    width: 250px;
    margin-bottom: 30px;
    margin-left: 70%;
}

.TimeChart {
    margin-left: 10%;
}

.LoadOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

.ClickedDetails {
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    gap: 2%;
}

.Checkboxes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ToolTip h3 {
    margin-bottom: .5%;
    width: 100%;
    border-bottom: 1px dotted black;
}

.ToolTip {
    position: relative;
    display: inline-block;
    margin-left: 5%;
  }
  
.ToolTipText {
    visibility: hidden;
    width: 300%;
    background-color: #47565f;
    color: #f7f9fb;
    text-align: center;
    border-radius: 6px;
    padding: 10%;
    position: absolute;
    z-index: 1;
    right: 110%;
    margin-top: -1%;
    opacity: 0;
    transition: opacity 1s;
    line-height: 1.5;
}
  
  .ToolTip .ToolTipText::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #47565f;
  }

.ToolTip:hover .ToolTipText {
    visibility: visible;
    opacity: 1;
}




.TransactionToolTip{
    position: relative;
    display: inline-block;
    margin-left: 5%;
  }


.TransactionToolTipText{
    visibility: hidden;
    width: 420px;
    background-color: #47565f;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4%;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
    opacity: 0;
    transition: opacity 1s;
    margin-top: -25%;
}

.TransactionToolTip:hover .TransactionToolTipText{
    visibility: visible;
    opacity: 1;
}

.TransactionToolTipText::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #47565f;
}

.TransactionToolTip h3 {
    margin-bottom: 5%;
    width: 100%;
    border-bottom: 1px dotted black;
}