button {
    padding: 1%;
    border-radius: 10px;
    border: none;
    font-family: "Inter Tight", sans-serif;
}

.LogOutBtn {
    background-color: #36454f;
    color: #f7f9fb;
}

.LogOutBtn:hover {
    background-color: #47565f;
    cursor: pointer;
}

.GoalBtn { 
    margin-left: 15%;
    margin-right: 0.5%;
    background-color: #6aaa2b;
    color: #f7f9fb;
}

.GoalBtn:hover {
    background-color: #8CCB5E;
}

.ProfileBtn {
    margin-right: .5%;
    background-color: #cfd6dc;
    color: #36454f
}

.ProfileBtn:hover {
    background-color: #bec5cb;
    cursor: pointer;
}

.Bar {
    background-color: #536878;
    margin: 0;
    width: 100%;
    position: fixed;
    height: 95px;
    align-items: center;
    display: flex
}

.TopName {
    font-family: "Playwrite NG Modern", cursive;
    font-size: 30pt;
    vertical-align: baseline;
    justify-content: center;
    align-items: center;
    color: #8CCB5E;
    margin-right: 1.5%;
    cursor: pointer;
}


.Logo {
    cursor: pointer;
    margin-left: 15%;
}

.Logo svg {
    float: left;
    width: 100%;
    display: block;
    margin-right: 20%;
    cursor: pointer;
}