.plaid-btn {
    background-color: #111111;
    color: #fbfbfb;
    border-radius: 0px;
    font-family: "Inter Tight", sans-serif;
    font-size: 15pt;
    padding: 10px 40px 10px 10px;
    margin-top: 10%;
    display: block;
}

.plaid-btn:hover{
    background-color: #333333;
}

.LoadOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }